.Nav {
  height: 70px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 999999;
  border-bottom: 0.5px solid #f8f8f8;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  flex-shrink: 0;
}
img {
  height: 50px;
  margin: 10px 0px;
  float: left;
}
.subNav {
  position: absolute;
  .hamMenu {
    float: right;
    margin: 20px 45px;
    background-color: transparent;
    border: 0px;
    outline: none !important;
    display: none;
    z-index: 999999;
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
      width: 25px;
      height: 2px;
      background-color: #343434;
      margin: 6px 0;
      transition: 0.4s;
    }
  }
}

/**
  * Responsive
  *
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .subNav {
    ul {
      display: none;
    }
  }
  .hamMenu {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .subNav {
    ul {
      display: none;
    }
  }
  .hamMenu {
    display: block !important;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .subNav {
    right: -20px;
    ul {
      display: none;
    }
  }
  .CustomButton {
    display: none;
  }
  .hamMenu {
    display: block !important;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .CustomButton {
    display: none;
  }
  .hamMenu {
    display: block !important;
    right: 0;
  }
}
